@tailwind base;
@tailwind components;
@tailwind utilities;

/* //Everyday Component Bg-Img */
.bg-img1 {
    background-image: url("./assets/multipleImg/everyday1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img2 {
    background-image: url("./assets/multipleImg/everyday2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* //Width for FeedbackSlider.jsx */
.my-custom-slide-style {
    width: 420px !important;
}

.slick-slide>div {
    margin: 0 1rem;
}